<ion-content>
  <div class="caixa">
    <ion-grid>
        <ion-row>
          <ion-col>
            <div class="ion-text-center">
              <h6>ControlMax</h6>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>

  <form>
      <ion-input placeholder="E-mail"></ion-input>
      <ion-input placeholder="Senha"></ion-input>
      <ion-input placeholder="Nome"></ion-input>
      <div class="ion-text-center">
        <ion-button fill="clear">Cadastrar</ion-button>
      </div>
  </form>

</ion-content>
