<ion-content>
  <div class="caixa">
    <ion-grid>
        <ion-row>
          <ion-col>
            <div class="ion-text-center">
              <h6>ControlMax</h6>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>

  <form>
      <ion-input placeholder="E-mail" name="email" [(ngModel)]="userlog.email"></ion-input>
      <ion-input placeholder="Senha" name="senha" [(ngModel)]="userlog.senha"></ion-input>
      <p (click)="cad()">cad</p>
      <div class="ion-text-center">
        <ion-button fill="clear" (click)="login()" >Login</ion-button>
      </div>
  </form>

</ion-content>
