<ion-header>
  <ion-toolbar>
    <button class="icon" (click)="histfechar()">
      <ion-icon class="close" name="close"></ion-icon>
    </button>
    <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated letra" (click)="esconde()">Histórico
    </ion-label>
    <ion-item >
        <ion-label>Ano</ion-label>
        <ion-select placeholder="Troca de mês" (ionChange)="trocaAno($event)">
          <ion-select-option *ngFor="let a of anos" [value]="a">{{a}}</ion-select-option>
        </ion-select>
      </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <canvas id="line" height="150vh" width="100vw"></canvas>
</ion-content>